h1 {
    color: #0D5EAF;
}

body{
    background-color: white;
}

footer {
  background-color: #314E60;
  padding: 10px;
  text-align: left;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 30px;
}

.logo {
    width: 50px;
    margin-right: 10px;
}

nav {
    float: left;
  width: 40px;
  height: 85%;
  position: fixed;
  background: #5887A5;
  padding: 20px;
  top: 105px;
  left: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

.header-bar {
    width: 100%;
    background-color: white;
    padding: 1px 70px;
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgba(161, 177, 231, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}

.header-left {
    display: flex;
    align-items: center;
}

.welcome-container {
    font-family: 'Roboto', sans-serif;
    font-size:6vw;
    opacity: 0.08;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
}

.welcome-message {
    font-weight: bold;
    color: #27333f;
    margin: 0;
}

.sub-message { 
    font-weight: bold;
    color: #27333f;
    margin: 0;
}